@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap');

/* GENERAL ELEMENTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background: #111111;
  height: 100vh;
  font-family: 'Inter';
  font-weight: 400;
}
h1 {
  font-size: 4.8rem;
  text-align: center;
  font-weight: 800;
  background-image: linear-gradient(45deg, #e52ee5, #ff7e44);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  color: #ece9e4;
  display: none;
}

.container {
  max-width: 48rem;
  margin: 2.4rem auto;
}

/* TODO ELEMENTS*/
.todo__container {
  margin-top: 4.8rem;
}

.todo__input {
  width: 100%;
  padding: 1.2rem 1rem;
  margin-bottom: 4.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  outline: none;
  background: #fff;
  border: none;
  border-radius: 4px;
}

.todo__input ::placeholder {
  font-family: inherit;
}

.todo__task {
  margin-top: 1.6rem;
  background: #ff7e44;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todos__container {
  display: flex;
  flex-direction: column;
}

.todo__text {
  margin-left: 1.2rem;
  color: #232b2b;
  font-size: 1.4rem;
}
.todo__text--encourage {
  color: #00e599;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 3.2rem;
}

/* ICONS */
.icon {
  font-size: 2.4rem;
  color: #fff;
  --ionicon-stroke-width: 32px;
}
.icons-container {
  display: flex;
  align-items: flex-start;
}
.icon-container {
  border-radius: 4px;
  padding: 0.7rem;
  cursor: pointer;
}
.icon-container--done {
  background-color: #7dff6e;
  border-radius: 4px 0 0 4px;
}
.icon-container--delete {
  background: #ff5353;
  border-radius: 0 4px 4px 0;
}

.icon-container--add {
  margin-left: -5px;
  background: #a125a1;
  color: #000;
  border-radius: 0 4px 4px 0;
  border: none;
}

/*? RESPONSIVE */

/*  Below screen (32rem = 512px) */
@media (max-width: 32em) {
  .container {
    max-width: 40rem;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}

/*  Mobile screen (26rem = 416px) */
@media (max-width: 26em) {
  .container {
    max-width: 30rem;
  }
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .error {
    font-size: 1.4rem;
  }
}

/* - Font sizes
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 
44 / 52 / 64 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 
96 / 128
*/
